###############
#    ignore   #
###############
###############
#    global   #
###############
/Pub/
###############
#    project  #
###############
/.vs/
/packages/
/TestResults/
/*/bin/
/*/obj/
/*/node_modules