@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@section stylesheet{
    @RenderSection("stylesheet", required: false)
}


@section nav_bar{
    <div>
        <a js-href="/nearby" class="nav-btn @("Nearby".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Nearby</span>
            <span class="glyphicon glyphicon-map-marker btn-icon"></span>
        </a>
    </div>
}
@RenderBody()


@section script{
    @RenderSection("script", required: false)
}