@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/Image/columbus/4.png" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/Image/columbus/5.png" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/Image/columbus/3.png" />
</div>