@using FoodHunterAlpha.Models;
@{
    var _store = (Restaurant)ViewBag.Store;
}

<div class="cart-content">
    <div ng-if="storeCtrl.cart.qty<=0">
        <h3>Empty</h3>
    </div>
    <div class="cart-item" ng-repeat="item in storeCtrl.cart.itms track by item.i">
        <div class="cart-item-desc">
            <span class="desc-name">{{item.n}}</span>
            <span class="desc-option">Regual</span>
            <span class="desc-unit-price">{{item.p|currency:$}}</span>
        </div>
        <div class="cart-item-qty">
            <a ng-click="storeCtrl.cart.minusOne(item.i)" ng-if="item.q>1"><span class="glyphicon glyphicon-triangle-left cart-item-btn"></span></a>
            <span class="qty-lbl">{{item.q}}</span>
            <a ng-click="storeCtrl.cart.plusOne(item.i)"><span class="glyphicon glyphicon-triangle-right cart-item-btn"></span></a>
            <a ng-click="storeCtrl.cart.remove(item.i)"><span class="glyphicon glyphicon-trash cart-item-btn btn-transh"></span></a>
        </div>
    </div>
</div>
<div class="cart-checkout-girdle" ng-if="storeCtrl.cart.qty>0">
    <span class="amount">{{storeCtrl.cart.amt|currency:$}}</span>
    <!--a href="#" class="btn btn-danger" ng-click="storeCtrl.cart.empty()">Empty</a-->
    <a onclick="window.location='/checkout';" class="btn btn-danger btn-checkout">Checkout</a>
</div>