<div class="page-content">
    <div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
        <img style="width:100%;" src="~/Content/img/columbus/2.jpg" />
    </div>
    <div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
        <img style="width:100%;" src="~/Content/img/columbus/3.png" />
    </div>
</div>