@using FoodHunterAlpha.Models;
@{
    var _ordres = (IList<Order>)ViewBag.Orders;
}
<div class="page-content">
    @foreach (var ord in _ordres)
    {
        <div class="order-item">
            <div class="order-item-desc">
                <span class="desc-order-id">@string.Format("{0:yyyyMMdd}{1}",ord.OrderTime, ord.Id)</span>
                <span class="desc-type">@(ord.Type== Order.OrderType.DineIn ? "Dine In" : "Pick Up")</span>
                <span class="desc-store">@ord.Store.Name</span>
            </div>
            <div class="order-item-status">@(ord.HasProcessed?"Processed": "Pending")</div>
        </div>
    }
    <div class="checkout-footer">
        Powered by FoodHunters.net
    </div>
</div>