@{
    Layout = "~/Views/Shared/_BrandLayout.cshtml";
}
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/columbus/1.png" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/columbus/2.jpg" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/columbus/3.png" />
</div>