.cart-checkout-girdle {
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: 100%;
    max-width: 960px;
    background-color: #ffca00;
    padding: 6px 10px 6px 10px;
}

    .cart-checkout-girdle .amount {
        font-size: 20px;
        font-weight: bold;
    }

    .cart-checkout-girdle .btn-checkout {
        float: right;
        font-weight: bold;
        color: #8C6F00;
        border-color: #D9AC00;
        background-color: #FFDA4C;
    }

.cart-content {
    width: 100%;
    max-width: 960px;
    top: 65px;
    position: fixed;
    bottom: 45px;
    padding: 0px 10px 0px 10px;
    overflow: auto;
}

.cart-item {
    padding: 10px 0px 3px 0px;
    vertical-align: middle;
}

    .cart-item:nth-child(n+2) {
        padding: 17px 0px 3px 0px;
        border-top: 1px dashed #d8d8d8;
    }

    .cart-item .cart-item-btn {
        font-size: 24px;
        color: black;
        vertical-align: top;
    }

    .cart-item .cart-item-desc {
        display: inline-block;
        line-height: 15px;
    }

        .cart-item .cart-item-desc .desc-name {
            display: block;
            font-size: 20px;
            font-weight: bold;
        }

        .cart-item .cart-item-desc .desc-option {
            font-size: 12px;
            color: #8d8d8d;
        }

        .cart-item .cart-item-desc .desc-unit-price {
            font-size: 12px;
            color: #ff4a00;
        }

    .cart-item .cart-item-qty {
        display: inline-block;
        float: right;
    }

        .cart-item .cart-item-qty .qty-lbl {
            font-size: 20px;
            vertical-align: top;
        }

        .cart-item .cart-item-qty .btn-transh {
            margin-left: 10px;
            color: #8d8d8d;
        }
