/*global*/
html, body {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px;
}

a,
a:link,
a:hover,
a:visited {
    text-decoration: none;
}

.dropdown-menu {
    top: 90%;
}
/*store bar*/
.top-nav-store-bar {
    position: fixed;
    top: 0px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    background-color: #ffca00;
    z-index: 100;
}

    .top-nav-store-bar .store-info {
        color: black;
        font-size: 16px;
    }

    .top-nav-store-bar .btn-icon {
        color: #8D8D8D;
        font-size: 16px;
    }

/*top nav bar*/
.top-nav-bar {
    position: fixed;
    top: 25px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 40px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    display: flex;
    background-color: white;
    z-index: 100;
}

    .top-nav-bar .nav-dropdown {
        text-align: center;
        flex: 1;
    }

    .top-nav-bar .nav-btn {
        display: inline-block;
        padding: 0;
        margin: 0;
        color: #8D8D8D;
        text-align: center;
        vertical-align: text-bottom;
        flex: 1;
        font-weight: bold;
    }

        .top-nav-bar .nav-btn.active {
            color: #ffca00;
        }

    .top-nav-bar .btn-label {
        display: block;
        font-size: 11px;
    }

    .top-nav-bar span.btn-icon {
        font-size: 20px;
    }

    .top-nav-bar .badge-badge {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: #d9534f;
    }

.map-content {
    width: 100%;
    max-width: 960px;
    top: 65px;
    position: fixed;
    bottom: 0px;
}

.page-content {
    width: 100%;
    max-width: 960px;
    top: 65px;
    position: fixed;
    bottom: 0px;
    overflow: auto;
}
