@{
    Layout = "~/Views/Shared/_PlatformLayout.cshtml";
}
<div class="brand-grid">
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo1.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo2.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a js-href="/brand/columbus"><img src="/Content/img/brand/logo8.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo3.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4" >
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo4.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4" >
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo5.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo6.png" /></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="brand-cell">
            <a href="#"><img src="/Content/img/brand/logo7.png" /></a>
        </div>
    </div>
</div>