@{
    Layout = "~/Views/Shared/_PlatformLayout.cshtml";
}
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/platform/1.jpg" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/platform/2.jpg" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/platform/3.jpg" />
</div>
<div class="col-xs-12 col-sm-4" style="text-align:center;padding:2px;">
    <img style="width:100%;" src="~/image/platform/4.jpg" />
</div>